*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
   background: #11071F;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color:white;
}
.card{
    background-color:linear-gradient(#130428, #251043, #38126D, #261045, #190634);
    border:1px red solid;
    width:570px;
    height:192.68px;
    margin:10px;
}

   


